:root {
  --color-black: #262625;
  --color-beige: #f3f3f1;
  --color-white: #fefefe;

  --background: #f3f3f1;
  --foreground: #262625;

  --color-blue-dark: #6b93c0;
  --color-blue-mid: #6b93c0;
  --color-blue-light: #badaff;

  --color-orange-mid: #f28164;
  --color-orange-dark: #d46f55;
  --color-orange-light: #ffbcab;

  --color-green-light: #ecffce;
  --color-green-mid: #a2b87e;
  --color-green-dark: #95ae6d;

  --color-mustard-mid: #cac48e;
  --color-mustard-light: #fffac2;
  --color-mustard-dark: #c2bb82;

  --color-pink-mid: #f588b9;
  --color-pink-dark: #d6699a;
  --color-pink-light: #ffedf5;

  --color-purple-light: #ebedff;
  --color-purple-mid: #9fa8fe;
  --color-purple-dark: #8a92e3;
}

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

::-moz-selection {
  background: var(--color-white);
  text-shadow: none;
}
::selection {
  background: var(--color-white);
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 15px;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex-1 {
  flex: 1;
}
